body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
}

.top_section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    background-color: #333;
    padding-left: 10%;
}

.top_section_button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.top_section_button:hover {
    background-color: #777;
}

.Main {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    height: 80%;
}

.Miss_Type_Section {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    justify-content: center;
}

.Miss_Circles {
    width: 50px;
    height: 50px;
    background-color: snow;
    border: 3px solid red; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.Side_Section {
    display: flex;
    width: 20%;
    height: 75%;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5%;
    justify-content: space-between;
}

.Main_Section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    padding: 20px;
    margin-left: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.Word_Section {
    width: 80%;
    height:35%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    text-align: center;
    margin-top:7%;
    margin-right:10%;
}

.Letters_Section {
    width: 60%;
    height: 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    margin-top:5%;
}

.Typing_Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.Text_Typing {
    font-size: 18px;
    margin-bottom: 10px;
}

.Text_Input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #999;
    border-radius: 5px;
}

.field2 {
    width: 40px;
    height: 40px; 
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}


.field {
    width: 50px;
    height: 50px;
    background-color: snow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    overflow: hidden; 
}

.hidden-field {
    visibility: hidden; 
    opacity: 0; 
    pointer-events: none; 
}

.sidebar {
    position: absolute;
    top: 300px;
    left: -400px;
    width: 180px;
    background-color: white;
    color: black; 
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    transition: left 0.3s ease;
}

.sidebar.active {
    left:185px; 
}


.sidebar button {
    width: 100%;
    padding: 10px 20px; 
    border: none; 
    background-color: #555; 
    color: white;
    border-radius: 5px; 
    cursor: pointer;
    margin-bottom:5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}


.sidebar button:hover {
    background-color: #777; 
}


.toggle-button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%; 
    align-self: center; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-button:hover {
    background-color: #777;
}