* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

.header1 {
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 75%;
    background-color: rosybrown;
    align-items: center;
    justify-content: left;
    border-radius: 15px;
    border: 3px solid;
}

.sidebar {
    display: flex;
    width: 20%;
    height: 60%;
    background: rgba(255, 255, 255, 0.6); 
    flex-direction: column;
    align-items: center;
    margin: 0px 6% 0 5%;
    border-radius: 15px;
    border: 3px solid;
}


    .sidebar button {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        background-color: #007bff;
        color: black;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 3px solid;
    }

.sidebar button:hover {
background-color: aquamarine;
}

.sidebar input {
width: 50%;
padding: 5px;
font-size: 16px;
text-align: center;
margin-bottom: 10px;
border: 3px solid;
border-radius: 15px;
margin-top:10%;
}

.sidebar_h2 {
    margin-top: 12%;
    margin-bottom: 10%;
}

.sidebar_text {
    font-size: 20px;
}

.game-board {
    display: grid;
    width: 60%;
    height: 90%;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    border: 3px solid;
    margin-right: 3%;
}

.field {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 3px solid #ddd;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.top_section {
    width: 80%;
    background-color: snow;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 3%;
    align-content: center;
    padding-left: 3%;
    border-radius: 15px;
    border: 3px,solid;
}

.top_section_button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: moccasin;
    color: black;
    border-radius: 8px;
    margin-right: 3%;
    border: 3px solid;
}

    .top_section_button:hover {
        background-color: lightpink;
    }
